*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: white ;
}

.card {
  position: relative;
  left: 30%;
  border: solid 3px;
  padding: 10px;
  left: 35%;
  border-radius: 5%;
  width: 390px;
  height : 400px;
  color: white;
  margin-top: 30px;
}

.data {
  display: flex;
  justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

.card-header::after {
  content: " ";
  display: block;
  width: fit-content;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  height: 60px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: fit-content;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 20px 20px 20px 20px;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  position:absolute;
  border: none;
  left: 70px;
  display: block;
  width: fit-content;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  height: fit-content;
}

footer {
  display: block;
  width: fit-content;
  margin: 10px;
  font-size: smaller;
  color: white;
  position: absolute;
  bottom: 2px;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }

  .checkbox {
    left: 20%
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
  .checkbox {
    left: 5%;
  }
}
